<nav>
    <h1><a href="{{ base_url() }}">Slim Template</a></h1>
    <ul>
        <li><a href="{{ base_url() }}">Home</a></li>
        <li><a href="http://www.slimframework.com/docs/">Doc Slim</a></li>
        <li><a href="https://github.com/HaKIMus/slim-template">Repo</a></li>
    </ul>
</nav>

{% block stylesheets %}
    <style>
        nav {
            height: 70px;
        }

        nav > h1{
            float: left;
            margin: 0;
            line-height: 1.2em;
        }

        nav > h1 > a{
            color: #fff;
            text-decoration: none;
        }

        nav > h1 > a:hover, nav > a:focus{
            text-decoration: underline;
        }

        nav > ul{
            float: right;
            display: inline-block;
            line-height: 1.2em;
        }

        nav > ul > li {
            display: inline-block;
        }
        nav > ul > li > a{
            color: #fff;
            text-decoration: none;
        }
        nav > ul > li > a:hover, nav > ul > li > a:focus{
            text-decoration: underline;
        }
    </style>
{% endblock %}