{% extends 'template.twig' %}

{% block body %}
    <h2>Hello {{ userName }}!</h2>
    <p>Version: 2.1.0</p>
{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-color: #719e40;
        }

        h2{
            font-size: 4em;
            text-align: center;
            color: #fff;
            font-weight: 100;
        }

        p{
            font-size: 2em;
            text-align: center;
            color: rgba(255, 255, 255, 0.42);
        }
    </style>
{% endblock %}
