<nav>
    <a href="{{ base_url() }}">{{ titleWebsite }}</a>
    <ul>
        <li><a href="{{ base_url() }}">Home</a></li>
        <li><a href="http://www.slimframework.com/docs/">Doc Slim</a></li>
        <li><a href="http://www.slimframework.com/">Slim</a></li>
        <li><a href="https://github.com/HaKIMus/slim-template">GitHub</a></li>
    </ul>
</nav>

{% block stylesheets %}
    <style>
        nav > ul{
            float: right;
            display: inline-block;
        }
        nav > ul > li {
            display: inline-block;
        }
    </style>
{% endblock %}