{% extends 'template.twig' %}

{% block body %}
    <h1>{{ titleWebsite }}</h1>
{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background: #F5F5F5;
        }

        h1{
            font-size: 6em;
            text-align: center;
            color: #719e40;
            font-weight: 100;
        }
    </style>
{% endblock %}
